.precios{
    font-family: 'Roboto', sans-serif; font-weight: 500; color: #bdbfc6cf; text-align: center;
}

.nombres{
    font-family: 'Roboto', sans-serif; font-weight: 500; color: #3E3F42;text-align: center;
}

.tabla{
    margin: 0 auto;
}