<div class="container">
    <h3 style="color:#3E3F42; font-family: 'Roboto', sans-serif; margin-left:250px ;"><b>Artist Prints</b></h3> 
   <div class="row">
     <div class="col s12 m7">
     <div class="card">
     <div class="card-image">
      <img src="../../../assets/Resources/mochipanko_time_for_tea.jpg"  style="height:250px">
      <span class="card-title">Mochipanko <br>
        time for tea</span>
     </div>
     <div class="precios">$10 USD </div>
    </div>
       
      </div>
     <div class="col s1"><img src="../../../assets/Resources/mochipanko_picnic_coven.jpg"  style="height:250px"></div>
     <div class="col s1"><img src="../../../assets/Resources/mochipanko_heading_out.jpg" style="height:250px"></div>
     <div class="col s1"><img src="../../../assets/Resources/mochipanko_kyuupido_dtiys3.jpg"  style="height:250px; width: 180px;"></div>
   </div>
  


    <table class="tabla">
    
    <tr>
      <td class="nombres">Mochipanko <br>
      time for tea</td>
      <td class="nombres">Mochipanko <br>
        picnic coven</td>
        <td class="nombres">Mochipanko <br>
           heading out</td>
            <td class="nombres">Mochipanko <br>
                kyuupido dtiys3 </td>
    </tr>
    <tr>
      <td class="precios">$10 USD</td>
      <td class="precios">$10 USD</td>
      <td class="precios">$10 USD</td>
      <td class="precios">$10 USD</td>
    </tr>
  </table> 
<br>

    <h3 style="color:#3E3F42; font-family: 'Roboto', sans-serif; margin-left:50px ;"><b>Enamel Pins</b></h3> 
    <table style="margin-left: 50px;">
    <tr>
      <th><img src="../../../assets/Resources/3.jpg" id="pfp" style="height:180px"></th>
      <th><img src="../../../assets/Resources/6.jpg" id="pfp" style="height:180px"></th>
      <th><img src="../../../assets/Resources/5.jpg" id="pfp" style="height:180px"></th>
      <th><img src="../../../assets/Resources/8.jpg" id="pfp" style="height:180px"></th>
    </tr>
    <tr>
      <td class="nombres">Mochipanko <br>
      Pin 1</td>
      <td class="nombres">Mochipanko <br>
        Pin 2</td>
        <td class="nombres">Mochipanko <br>
            Pin 3</td>
            <td class="nombres">Mochipanko <br>
                Pin 4</td>
    </tr>
    <tr>
      <td class="precios">$10 USD</td>
      <td class="precios">$10 USD</td>
      <td class="precios">$10 USD</td>
      <td class="precios">$10 USD</td>
    </tr>
  </table>  

</div>