<div class="row eltodo valign-wrapper">
<!--PRIMERA PARTE, FORMA-->
<div class="col l6">
    <h4 style="font-family: 'Roboto', sans-serif; color: #3e3f42; font-weight: 700;">Contact Us</h4>
    <hr  style="width:220px; height:8px; background-color: #FF9EB0; border:none; margin-left:0; margin-top: 20px; margin-bottom: 20px;">
    <p style="font-family: 'Roboto', sans-serif; color: #3e3f42;">Don’t hestitate to reach out to us for feedback<br>or issues with your order.</p>
    
   
    <form class="fields">
        <div>
        <label for="name" style="font-family: 'Roboto', sans-serif; font-weight: 500; color: #3e3f42; font-size: 14px;">Name</label>
        <br>
        <input type="text" id="forma" name="name">
        </div>

        <div>
            <label for="name" style="font-family: 'Roboto', sans-serif; font-weight: 500; color: #3e3f42; font-size: 14px;">Email</label>
            <br>
            <input type="text" id="forma" name="email">
        </div>

        <div>
            <label for="name" style="font-family: 'Roboto', sans-serif; font-weight: 500; color: #3e3f42; font-size: 14px;">Message</label>
            <br>
            <input type="text" id="forma" id="mensaje" name="message">
        </div>

        <div>
            <input type="submit" value="Send" id="elboton">
        </div>
    </form>

  
</div>

<!--IMAGEN-->
<div>

    <img src="../../../assets/Resources/contact art.svg" id="lafoto">

</div>
</div><!--FIN CLASS ROW-->