<div class="row" id="content-top">
    <!-- Cart box -->
    <div class="col m7 push-m1 recuadro"> <!-- Recuadro -->
        <div class="col s12"> <!-- Contenido -->
            <div> <!-- Head -->
                <h1 >Cart</h1>
                <div class="row">
                    <h6 class="col m6">Product</h6>
                    <h6 class="col m2">Price</h6>
                    <h6 class="col m2">Quantity</h6>
                    <h6 class="col m2 right-align">Total</h6>
                </div>
                <div class="divider"></div>
            </div>

            <div> <!-- Items -->
                <app-cart-item></app-cart-item>
                <app-cart-item></app-cart-item>
                <app-cart-item></app-cart-item>
                <app-cart-item></app-cart-item>
                <app-cart-item></app-cart-item>
                <app-cart-item></app-cart-item>
            </div>
            
            <div id="cart-foot"> <!-- Foot -->
                <div class="divider"></div>
                <h4 class="right-align extra-top"><b>Cart total: $110.00</b></h4>
            </div>
        </div>
    </div>

    <!-- Checkout box -->
    <div class="col m3 pull-m1 right recuadro"> <!-- Recuadro -->
        <div class="col m12 "> <!-- Contenido -->
            <div> <!-- Head -->
                <h1 >Total</h1>
                <div class="divider"></div>
                <div class="extra-top">    
                    <h5 class="col m6"><b>Sub total</b></h5>
                    <h5 class="col m6 right-align">$110.00</h5>
                    <h5 class="col m6"><b>Shipping</b></h5>
                    <h5 class="col m6 right-align">$5.00</h5>
                </div>
            </div>

            <div id="checkout-foot"> <!-- Foot -->
                <h4 class="col m6"><b>Grand total:</b></h4>
                <h4 class="col m6 right-align"><b>$5.00</b></h4>
                <div class="col s12 divider"></div>
                <div class="center-align">
                    <a class="col s12 waves-effect waves-light btn-large valign-wrapper extra-top">Checkout</a>
                </div>
            </div>


        </div>
    
    </div>


</div>
