<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="col l1 pull-l2">
            <a href="#"><img src="../../../assets/Resources/Logo simetría white-02.png" id="logo"></a>
          </div>
          <div class="col l2 push-l1">
            <ul>
              <li style="color: #f4f4f4; font-size: 14px;"><b>Info</b></li>
              <li><a style="color: #f4f4f4; font-size: 12px; font-family: 'Roboto', sans-serif;"href="aboutus">About Us</a></li>
              <li><a style="color: #f4f4f4; font-size: 12px; font-family: 'Roboto', sans-serif;"href="contact">Contact Us</a></li>
            </ul>
          </div>
          <div class="col l2 push-l2">
            <ul>
              <li style="color: #f4f4f4; font-size: 14px; margin-bottom:5px"><b>Follow Us</b></li>
              <ul class="valign-wrapper">
                <li><a target=”_blank” href="http://fb.com"><img src="../../../assets/Resources/fb.svg" id="icons"></a></li>
                <li><a target=”_blank” href="http://instagram.com"><img src="../../../assets/Resources/ig.svg" id="icons"></a></li>
                <li><a target=”_blank” href="http://twitter.com"><img src="../../../assets/Resources/twt.svg" id="icons"></a></li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
      </div>
  </footer>