<div class="header row">
<a href="#" class="col l3 left">
    <img src="../../../assets/Resources/Logo simetría white-02.png" id="logo">
</a>
<ul class="valign-wrapper lista-lonks">
    <li class="col l2 pull-l2 lonks"><a href="aboutus" style="color:#f4f4f4">About Us</a></li>
    <li class="col l2 pull-l2 lonks"><a href="products" style="color:#f4f4f4">Products</a></li>
    <li class="col l2 pull-l2 lonks"><a href="contact" style="color:#f4f4f4">Contact</a></li>
    <li class="col l1 pull-l1 lonks"><a href="cart" style="color:#f4f4f4"><img src="../../../assets/Resources/cart icon.svg" id="icons"></a></li>
</ul>
</div>