<div class="row" id="cart-item">
    <div  class="col m3"> <!-- Foto-->
        <img class="col s12" src="https://via.placeholder.com/300">
    </div>
    <div class="col m9 right" id="product-info"> <!-- Info -->
        <div class="row">
            <h3 class="col s10">Tote bag</h3>
            <a class="right waves-effect waves-light btn-floating center-align"><i class="material-icons left">close</i></a>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col m2"> <!-- Descriptores-->
                <ul>
                    <li>Tote Bag</li>
                    <li>13x15in</li>
                </ul>
            </div>
            <div class="valign-wrapper"> <!-- Otros datos -->
                <div class="col m3">
                    <h5 class="col s10 push-s4"><strong>$55.00</strong></h5>
                </div>
                <div class="col m3">
                <input class="col s10 push-s2" placeholder="1" value="1" id="first_name" type="number">
                </div>
                <div class="col m3 right-align">
                    <h5>$55.00</h5>
                </div>
            </div>
        </div>
    </div>
    
</div>