<div class="row" id="cart-item">
    <div  class="col m3"> <!-- Foto-->
        <img class="col s12" src="../../../assets/productos/{{product.img}}">
    </div>
    <div class="col m9 right" id="product-info"> <!-- Info -->
        <div class="row">
            <h3 class="col s10">{{product.nombre}}</h3>
            <a class="right waves-effect waves-light btn-floating center-align" (click)="deleteItem()"><i class="material-icons left">close</i></a>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col m2"> <!-- Descriptores-->
                <ul>
                    <li><b>{{product.autor}}</b></li>
                    <li>{{product.tipo}}</li>
                </ul>
            </div>
            <div class="valign-wrapper"> <!-- Otros datos -->
                <div class="col m3">
                    <h5 class="col s10 push-s4"><strong>${{product.precio}}</strong></h5>
                </div>
                <div class="col m3">
                <input class="col s10 push-s2" placeholder="1" value="{{product.cart_qty}}" type="number" min="1" id="{{product.id}}" (change)="setQty()">
                </div>
                <div class="col m3 right-align">
                    <h5>${{product.precio}}</h5>
                </div>
            </div>
        </div>
    </div>
    
</div>