

<!--LA PRIMERA PARTE-->
<div class="valign-wrapper aboutus row">
    <div class="abouttxt col l6 push-l2">
        <h4 style="color:#3E3F42; font-family: 'Roboto', sans-serif;"><b>Welcome to <br>Simetría!</b></h4>
        <hr style="width:220px; height:14px; background-color: #ffda56; border:none; margin-left:0;">
        <p style="color:#3E3F42; font-family: 'Roboto', sans-serif; font-size: 14px;">You’ll be able to find original products from independent<br>artists of the best quality.</p>
    </div>
    <div class="aboutimg col l6 ">
        <img src="../../../assets/Resources/home art.svg" id="aboutimg">
    </div>
</div>

<!--LA SEGUNDA PARTE-->
<div class="segundaparte">
    <h5 style="color: #f4f4f4; font-family: 'Roboto', sans-serf; text-align: center; font-weight: 500;" class="header">Check out our Products!</h5>
    <div class="carousel elcarrusel">
        <a class="carousel-item" href="product1"><img src="../../../assets/Resources/merch1.png"></a>
        <a class="carousel-item" href="product2"><img src="../../../assets/Resources/merch2.png"></a>
        <a class="carousel-item" href="product3"><img src="../../../assets/Resources/merch3.png"></a>
    </div>
</div>

<!--LA TERCERA PARTE-->
<app-artists></app-artists>