<div class="artistaslocos row">
    <h5 style="color:#3E3F42; font-family: 'Roboto', sans-serif; margin-left: 230px; margin-bottom: 20px;"><b>Our artists</b></h5>
   
    <div class="artistasfila valign-wrapper">

        <div class="artista col l2 push-l1 center-align">
            <ul>
                <li><a href="artistapage"><img src="../../../assets/Resources/mochi.jpeg" id="pfp"></a></li>
                <li style="font-family: 'Roboto', sans-serif; font-weight: 500; color: #3E3F42">mochipanko</li>
                <li style="font-family: 'Roboto', sans-serif; font-size: 13px;  color: #3E3F42">digital artist who likes several<br>different media</li>
            </ul>
        </div>

        <div class="artista col l2 center-align">
            <ul>
                <li><a href="underconstruction"><img src="../../../assets/Resources/boba.jpeg" id="pfp"></a></li>
                <li style="font-family: 'Roboto', sans-serif; font-weight: 500; color: #3E3F42">fresh_bobatae</li>
                <li style="font-family: 'Roboto', sans-serif; font-size: 13px; color: #3E3F42">digital artist whose style is well<br>known by her community</li>
            </ul>
        </div>


        <div class="artista col l2 pull-l1 center-align">
            <ul>
                <li><a href="underconstruction"><img src="../../../assets/Resources/meyoco1.jpeg" id="pfp"></a></li>
                <li style="font-family: 'Roboto', sans-serif; font-weight: 500; color: #3E3F42">meyoco</li>
                <li style="font-family: 'Roboto', sans-serif; font-size: 13px; color: #3E3F42">digital artist that likes to try new<br>and creative things</li>
            </ul>
        </div>

        
        <div class="artista col l2 pull-l2 center-align">
            <ul>
                <li><a href="underconstruction"><img src="../../../assets/Resources/heikala.jpeg" id="pfp"></a></li>
                <li style="font-family: 'Roboto', sans-serif; font-weight: 500; color: #3E3F42">heikala</li>
                <li style="font-family: 'Roboto', sans-serif; font-size: 13px; color: #3E3F42">mixed media artist who sells<br>their different pieces online</li>
            </ul>
        </div>

    </div>
</div>
