.test {
    border-color: magenta;
    border-style: solid;
    border-width: 1px;
    padding: 0;
}

#top {
    padding: 0 40px 0 40px;
    margin-bottom: 40px;
}

.card{
    box-shadow: none;
}

.card-title{
    color:black !important;
    font-size: 15px !important;
    font-family: 'Roboto', sans-serf !important; 
    font-weight: 700 !important;
    line-height: 18px !important;
}

.card-image {
    height: 15vw;
    overflow: hidden;
}

.card-content{
    text-align: center;
}

div {
    color: gray;
}

p{
    font-family: 'Roboto', sans-serf !important; 
    font-size: 12px !important;
}

h6{
    font-family: 'Roboto', sans-serf !important; 
    color: gray;
    font-size: 12px;
}