<!--LA PRIMERA PARTE-->
<div class="valign-wrapper aboutus row">
    <div class="aboutimg col l6 push-l2 ">
        <img src="../../../assets/Resources/about art.svg" id="aboutimg">
    </div>
    <div class="abouttxt col l6 pull-l2">
        <h4 style="color:#3E3F42; font-family: 'Roboto', sans-serif; text-align: right;"><b>About Us</b></h4>
        <hr style="width:220px; height:14px; background-color: #ffda56; border:none;" class="ruler">
        <p style="color:#3E3F42; font-family: 'Roboto', sans-serif; font-size: 14px; text-align: right;">We’re a company that gathers different artists<br>together and through them wish to generate a<br>bigger interest for the independent artists.<br>We wish to sell their products for them to grow<br>as artists and generate awareness on actual artistic prices. </p>
    </div>
</div>

<!--LA SEGUNDA PARTE-->
<app-artists></app-artists>