<h1 style="color:#3E3F42; font-family: 'Roboto', sans-serif; margin-left: 230px; margin-bottom: 20px;"><b>Mochipanko</b></h1>
<hr style="width:250px; height:10px; background-color: #ffda56; border:none; margin-left:220px;">
 <div class="artist1">
    
    <img src="../../../assets/Resources/logo.png"  style="height:250px; margin-left: 470px; margin-right: 550px;" >
       
    <div class="artista col l2 push-l1 center-align">
            <table style="margin-left: 200px; margin-right: 200px; width: 70%;">
            <tr>
              <td ><img src="../../../assets/Resources/mochi.jpeg" id="pfp" style="height:200px ; padding-right: 100px;"></td>
              <td class="textoart">I´m Liya aka mochipanko and a freelance illustrator, designer and tattoo artist based in Hamburg, Germany. 
                Even though I´ve graduated in Interior Architecture, I´ve decided to go with my real passion for my career - which is drawing. One of my favorite themes is nature, I love studying the anatomy of animals, 
                looking at different types of flora and incorporating them in my work whenever I can. When people tell me they feel comfortable and cozy looking at my art, I´m happy!
                </td>
            </tr>
          </table> 
        <br>
        <h2 style="color:#3E3F42; font-family: 'Roboto', sans-serif;  margin-bottom: 20px; text-align: center;"><b>-See my work-</b></h2> 
        <br>
</div>