<!--LA PRIMERA PARTE-->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<h2 style="color:#3E3F42; font-family: 'Roboto', sans-serif; font-weight: 600; font-size: 40px; text-align: left;margin-left: 230px;"> Mochipanko</h2>
<hr style="width:220px; height:10px; background-color: #ffda56; border:none; margin-left: 230px ;" > 
<div class="ellogo"><img src="../../../assets\Resources\logo.png" id="img"></div>

<div class="artistlist row valign-wrapper">
  <div class="col l6 push-l2 img">
    <img src="../../../assets/Resources/mochi.jpeg"  id="pfp" height="300px" >
  </div>

  <div class="col l6 pull-l1 abouttxt">
      <p class="textoart">
          I'm Liya aka mochipanko and a freelance illustrator, designer and tattoo<br>artist based in Hamburg, Germany.<br>
          <br>
          Even though I've graduated in Interior Architecture, I've decided to go with<br>my real passion for my career 
          - which is drawing. One of my favorite themes<br>is nature, I love studying the anatomy of animals, looking at 
          different types<br>of flora and incorporating them in my work whenever I can. When people tell<br>me they feel comfortable 
          and cozy looking at my art, I'm happy!
      </p>   
  </div>
</div>

<!--LA SEGUNDA PARTE-->
<br>
<h2 class="center-align"><b>- See my work -</b></h2> 
<br>

<h3><b>Artist Prints</b></h3> 

<div class="row" id="top">
  <div class="col m10 push-m1">
    
    <div class="col l4 card hoverable">
      <div class="card-image">
        <img src="../../../assets/Resources/mochipanko_time_for_tea.jpg ">
      </div>
      <div class="card-content">
        <span class="card-title">Gifts Print</span>
        <h6>$15 USD</h6>
      </div>
    </div>

    <div class="col l4 card hoverable">
      <div class="card-image">
        <img src="../../../assets/Resources/mochipanko_picnic_coven.jpg" >
      </div>
      <div class="card-content">
        <span class="card-title">Picnic Coven</span>
        <h6>$15 USD</h6>
      </div>
    </div>

    <div class="col l4 card hoverable">
      <div class="card-image">
        <img src="../../../assets/Resources/mochipanko_heading_out.jpg" >
      </div>
      <div class="card-content">
        <span class="card-title">Bus stop</span>
        <h6>$15 USD</h6>
      </div>
      </div>
    </div>
</div>

<h3><b>Enamel Pins</b></h3> 

<div class="row eale" id="top">
  <div class="col m10 push-m1">
    <div class="col l3 card hoverable">
      <div class="card-image">
        <img src="../../../assets/Resources/3.jpg"  id="pfp">
      </div>
      <div class="card-content">
        <span class="card-title">Mochipanko  Pin 1</span>
        <h6>$10 USD</h6>
      </div>
    </div>

    <div class="col l3 card hoverable">
      <div class="card-image">
        <img src="../../../assets/Resources/6.jpg" id="pfp">
      </div>
      <div class="card-content">
        <span class="card-title">Mochipanko  Pin 2</span>
        <h6>$10 USD</h6>
      </div>
    </div>

    <div class="col l3 card hoverable">
      <div class="card-image">
        <img src="../../../assets/Resources/5.jpg" id="pfp">
      </div>
      <div class="card-content">
        <span class="card-title">Mochipanko Pin 3</span>
        <h6>$10 USD</h6>
      </div>
    </div>

    <div class="col l3 card hoverable">
      <div class="card-image">
        <img src="../../../assets/Resources/8.jpg"  id="pfp">
      </div>
      <div class="card-content">
        <span class="card-title">Mochipanko  Pin 4</span>
        <h6>$10 USD</h6>
      </div>
    </div>
  </div>