<!--LA PRIMERA PARTE-->
<h2 style="color:#3E3F42; font-family: 'Roboto', sans-serif; font-size: 40px; text-align: left;margin-left: 230px;"> Mochipanko</h2>
<hr style="width:220px; height:10px; background-color: #ffda56; border:none; margin-left: 230px ;" > 
<img src="../../../assets\Resources\logo.png" id="img" >
 <div class="valign-wrapper artistlist row">
    
   <img src="../../../assets\Resources\mochi.jpeg" style=" margin: 0 auto;" >

    <div class="img col l8 push-l2 ">
        
    </div>
    <div class="abouttxt col l8 pull-l3">
        
        <p style="color:#3E3F42; font-family: 'Roboto', sans-serif; font-size: 14px; text-align: center;">
            I´m Liya aka mochipanko and a freelance illustrator, designer and tattoo artist based in Hamburg, Germany.
            Even though I´ve graduated in Interior Architecture, I´ve decided to go with my real passion for my career 
            - which is drawing. One of my favorite themes is nature, I love studying the anatomy of animals, looking at 
            different types of flora and incorporating them in my work whenever I can. When people tell me they feel comfortable 
            and cozy looking at my art, I´m happy!    </div>
</div>

<!--LA SEGUNDA PARTE-->

        <br>
        <h2 style="color:#3E3F42; font-family: 'Roboto', sans-serif;  margin-bottom: 20px; text-align: center;"><b>-See my work-</b></h2> 
        <br>

        <h3 style="color:#3E3F42; font-family: 'Roboto', sans-serif; margin-left:250px ;"><b>Artist Prints</b></h3> 
        <div class="row">
        <div id="top">
              <div class="col l3 card hoverable">
                <div class="card-image">
                  <img src="../../../assets/Resources/mochipanko_time_for_tea.jpg "style="height:300px">
                </div>
                <div class="col l3 card-content">
                  <span class="card-title">Mochipanko time for tea</span>
                  <h6>$10 USD</h6>
                </div>
              </div>
              <div class="col l3 card hoverable">
                <div class="card-image">
                  <img src="../../../assets/Resources/mochipanko_picnic_coven.jpg" style="height:300px">
                </div>
                <div class="col l3 card-content">
                  <span class="card-title">Mochipanko picnic coven</span>
                  <h6>$10 USD</h6>
                </div>
              </div>
              <div class="col l3 card hoverable">
                <div class="card-image">
                  <img src="../../../assets/Resources/mochipanko_heading_out.jpg" style="height:300px">
                </div>
                <div class="card-content">
                  <span class="card-title">Mochipanko heading out</span>
                  <h6>$10 USD</h6>
                </div>
              </div>
              <div class="col l3 card hoverable">
                <div class="card-image">
                  <img src="../../../assets/Resources/mochipanko_kyuupido_dtiys3.jpg" style="height:300p; width: 280px;">
                </div>
                <div class="card-content">
                  <span class="card-title">Mochipanko kyuupido dtiys3</span>
                  <h6>$10 USD</h6>
                </div>
              </div>
        </div>
        </div>
        
        <h3 style="color:#3E3F42; font-family: 'Roboto', sans-serif; margin-left:250px ;"><b>Enamel Pins</b></h3> 
        <div class="row" id="top">
            <div class="col l3 card hoverable">
              <div class="card-image">
                <img src="../../../assets/Resources/3.jpg" style="height:300px">
              </div>
              <div class="card-content">
                <span class="card-title">Mochipanko Pin 1</span>
                <h6>$10 USD</h6>
              </div>
            </div>
            <div class="col l3 card hoverable">
                <div class="card-image">
                  <img src="../../../assets/Resources/6.jpg" style="height:300px">
                </div>
                <div class="card-content">
                  <span class="card-title">Mochipanko  Pin 2</span>
                  <h6>$10 USD</h6>
                </div>
              </div>
              <div class="col l3 card hoverable">
                <div class="card-image">
                  <img src="../../../assets/Resources/5.jpg" style="height:300px">
                </div>
                <div class="card-content">
                  <span class="card-title">Mochipanko Pin 3</span>
                  <h6>$10 USD</h6>
                </div>
              </div>
              <div class="col l3 card hoverable">
                  <div class="card-image">
                    <img src="../../../assets/Resources/8.jpg" style="height:300px">
                  </div>
                  <div class="card-content">
                    <span class="card-title">Mochipanko  Pin 4</span>
                    <h6>$10 USD</h6>
                  </div>
                </div>
        </div>