<!-- Breadcrumbs-->
<div class="row">    
    <div class="col s6 push-m1 valign-wrapper">
        <a href="#" class="breadcrumb">Home</a>
        <a href="/product-page" class="breadcrumb">Mark's Shop</a>
        <a href="/product-page" class="breadcrumb">Product Page</a>
    </div>
</div>


<!--Row del producto e info -->
<div class="row">
    <!-- Product previews con 'tabs'-->
    <div class="col m6 push-m1">
        <div class="col m12">
            <!--Previews-->
            <div class="col m10 push-m1">
                <div id="preview_1"><img src="https://via.placeholder.com/800x801" ></div>
                <div id="preview_2"><img src="https://via.placeholder.com/800x802" ></div>
                <div id="preview_3"><img src="https://via.placeholder.com/800x803" ></div>
                <div id="preview_4"><img src="https://via.placeholder.com/800x804" ></div>
            </div>
            <!--Tabs-->
            <ul class="col m12 tabs tabs-fixed-width">
                <li class="tab"><a href="#preview_1"><img class="" src="https://via.placeholder.com/100x101" ></a></li>
                <li class="tab"><a href="#preview_2"><img class="" src="https://via.placeholder.com/100x102" ></a></li>
                <li class="tab"><a href="#preview_3"><img class="" src="https://via.placeholder.com/100x103" ></a></li>
                <li class="tab"><a href="#preview_4"><img class="" src="https://via.placeholder.com/100x104" ></a></li>
            </ul>
        </div> 
    </div>

    <!-- Parte de descripción del producto-->
    <div class="col m4 pull-m1 right " id="product-description">
        <div class="">
            <h3>The Shikishi artbook</h3>
            <h4><strong>Heikala</strong></h4>
        </div>

        <div class="">
            <h2>$55.00 USD</h2>
            <h6>Tax and shipping not included</h6>
            <p>In stock</p>
        </div>

        <div class="">
            <a class="waves-effect waves-light btn-large valign-wrapper">Add to cart</a>
        </div>

        <div class="">
            <h5>Product description</h5>
            <p><strong>The shikishi art book by Heikala</strong> is a collection of original paintings and drawings made on shikishi boards between 2019 and 2021. The 45 artworks featured in this book were created on shikishi boards measuring 120 x 135 millimeters or 4,7 x 5,3 inches in size, with varying paper materials. Several different mediums were utilized in their creation, including alcohol markers, poster colors, watercolors, and inks </p>
        </div>

        <div class="">
            <h5>Product Details</h5>
            <p><b>Medium: </b>Digital print, full color</p>
            <p><b>Dimensions: </b>5" x 5"</p>
            <p><b>Run: </b>15 copies</p>
        </div>
        
    </div>
</div>